[submodule "submodules/ESCursors"]
	path = submodules/ESCursors
	url = git@github.com:ssp/ESCursors.git
[submodule "submodules/NSBezierPath+ESPoints"]
	path = submodules/NSBezierPath+ESPoints
	url = git@github.com:earthlingsoft/NSBezierPath-ESPoints.git
