<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Primel-Document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Symmetries License</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.earthlingsoft.symmetries.license</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>ESLicenseDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Primel-Document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Symmetry</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>esRR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.earthlingsoft.symmetries.document</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Primel.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2b1</string>
	<key>CFBundleSignature</key>
	<string>esRR</string>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>Symmetries.sdef</string>
	<key>SUFeedURL</key>
	<string>https://earthlingsoft.net/Symmetries/appcast.xml</string>
	<key>SUPublicDSAKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIDOzCCAi4GByqGSM44BAEwggIhAoIBAQCj3w+d/xKvPGN5AXODtDU6kVwm9DhJ
sQEymXyIIb4ThbqfMdInez7is9WH2OKKlFl4UxMYzSmo2QWYU1q5zY7ZAR3st+eo
R+Os5WOSQ54algatkA49jsJygtgUCAdOr4lLHyBfyLDtohaOJuPLQEzoNk+GYbdT
nrAdnqVlhB8sAzAg7zWCZK13FrahRYWvAzr9wKh1FFLDa1kfZ+SrYFCxtWS1xO5d
5B4cpBY3svSpknePICTv1lQuO4Vw4A3E74vrp3PX/4dLlxPAYh4JYBiueGE4hbbh
oZqX6q7X9WzddgEDUj1ps7JFMtaAQLWh/mcpfz3QUuptnFRun9GORxjFAhUAsBbK
mxJvkg0eyMbFViVYfqEem/sCggEBAI9+kWDiuvCiuDL7e3CT9nu6K2KOHKwKPNrG
bYk0c9j19vtuQUv+bTScCeeb9G4SdIhd0qhCDk8Jqaz3S7STq0lKuq0sGSnL1JaK
nnk0/Y/GgjLznH5joVktpktaY4rDn8/Rp0kIaTxrZ9+Tpu3a31UODCEtpr8gaBYh
oum9rhU7Wcz1cJPmwrSIewlK8uN4O+Dc/mnyvvL0Qjlfn5x4eeYoGtl+KGnRSBFa
NVXkjG331XyKpbeYLNwMBNOpA7343eJPVApWdKWmmd1BxVaAojT2v1LwGVE7uK41
bz4cO/gKkcGOPgxooYzbHodjY08kTgU3RXJ+vKqppAKZ0lDKCXsDggEFAAKCAQBL
V9UETlVbxotEzUqVOyhuSKVqV+tfe2qfWnXJOnu7SbfIHKjQ+E4KuwyOgXn10bhF
vjX4Nr1NpVu5dmmD1H7W5RIwlYZJhADcg/oyMkGwP63Xd3b2lhuhG+hrk34Ya/MU
qVtjmTWG8YM5BTcxfm7R1jp6LSm3VQyMaBUBUvI+LvqODvaLW/r8qOSNvJy3gDIJ
8RsyTCPmlDLZ6vySP/mk1n4+20NJ5n6t+Hs4t5omOAatef96YHhAkmBhP37waFih
blNGyGodFKgnf3RflRl2F7Qvm8GjgM2rBmKoh1GaddwR9Iq1GbvC05qNrSFGK/db
6iQWlHuC7LZizDe1LvzE
-----END PUBLIC KEY-----</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
				<string>net.earthlingsoft.license</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>Primel-Document</string>
			<key>UTTypeIdentifier</key>
			<string>net.earthlingsoft.symmetries.license</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>symmetries-license</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Symmetric Path</string>
			<key>UTTypeIconFile</key>
			<string>Primel-Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.earthlingsoft.symmetries.document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>esRR</string>
				<key>public.filename-extension</key>
				<array>
					<string>symmetricPath</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
